.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
.header {
  width: 100vw;
  padding: 1.5rem;
  background: url('/bg-image.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}

.title {
  font-size: 3.2rem;
  font-weight: 1000;
  background-color: white;
  padding: 0.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  box-shadow: inset;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  box-shadow: 3px 3px 3px 3px black;
}

.mainContentContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.circleContainer {
  position: relative;
  border-radius: 50%;
}

.circleSegment {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #d3d3d3; /* Initial color for inactive segments */
  border-radius: 50%;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  transform-origin: center;
}

.circleSegment:nth-child(1) {
  transform: rotate(0deg);
}

.circleSegment:nth-child(2) {
  transform: rotate(45deg);
}

.circleSegment:nth-child(3) {
  transform: rotate(90deg);
}

.circleSegment:nth-child(4) {
  transform: rotate(135deg);
}

.circleSegment:nth-child(5) {
  transform: rotate(180deg);
}

.circleSegment:nth-child(6) {
  transform: rotate(225deg);
}

.circleSegment:nth-child(7) {
  transform: rotate(270deg);
}

.circleSegment:nth-child(8) {
  transform: rotate(315deg);
}

.active {
  border-top-color: #48F2FB; /* Color for active segments */
}


.gameArea {
  position: relative;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.clue {
  font-size: 3rem;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  margin-top: 10px;
}

.boxContainer {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cluesGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Adjust spacing between grid items as needed */
}

.clueBox {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  border: 3px solid black;
  background-color: white; /* Default background color */
  box-shadow: 2px 2px 2px 1px black;
}

.guessedBox {
  width: 20rem;
  height: 50px;
  margin: 5px 0;
  border-radius: 4px;
  background-color: white;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px black;
}

.timerGuessContainer {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guessed {
  background-color: #E867EA;
}

.guessedWord {
  background-color: white;
}

.blurred {
  opacity: 40%;
}


.timer {
  width: 80%;
  font-size: 4rem;
  font-weight: bolder;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 1px black;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}